.loader{
    height: 100px;
    width: 100px;
    border: 8px solid #000000;
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 50%;
    border-top-color:#f50707;
    border-left-color: blue;
    border-right-color: chartreuse;
    animation: all;
    animation: spin 2s ease-in-out 0s infinite normal ;
    

}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}